### Editor ###
.vscode/
.ionide/
.history/
.idea/

### VS ###
ipch/
*.suo
*.user
*.opensdf
*.sdf
*.rdb

### ATL ###
CopyShell_i.c
CopyShell_i.h
CopyShell_p.c
dlldata.c
ReadMe.txt

### Build ###
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Xx]86/
[Xx]64/
